:root {
    font-size: 16px;
    --text-primary: #ffffff;
    --text-secondary: #42435f;
    --bg-primary: #555678;
    --bg-secondary: #a9f1af;
    --transition-speed: 600ms;
}

body {
    background: #ffffff;
    font-family: 'Neucha', cursive !important;
    color: black;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.8rem;
}

body::-webkit-scrollbar-track {
    background: #555678;
}

body::-webkit-scrollbar-thumb {
    background: #a9f1af;
}

main {
    padding: 1rem;
}

header {
    position: fixed;
    background: var(--bg-primary);
    transition: width 200ms ease;
}

#navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.fa-primary {
    background: #990899;
}


.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link {
    text-decoration: none;
}

/*.navbar {
    position: fixed;
    background: var(--bg-primary);
    transition: width 200ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link i {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover {
    width: 16rem;
}

.navbar:hover .link-text {
    display: block;
}



.fa-secondary {
    color: aqua;
}

.fa-primary, .fa-secondary {
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-primary);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo i {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}*/




/* Small screens */
@media only screen and (max-width: 600px) {
    main {
        margin: 0;
    }

    header {
        bottom: 0;
        width: 100vw;
        height: 5rem;    
    }

    #logo, #mode-dark, .link-text {
        display: none;
    }

    #navbar, #navbar-nav, .nav-link {
        width: 100%;
        height: 100%;
    }

    #navbar {
        transition: width 600ms ease;
    }

    .nav-item {
        width: 20%;
        height: 100%;    
    }

    .nav-link {
        justify-content: center;
        filter: grayscale(100%) opacity(0.7);
        transition: var(--transition-speed);
    }
    
    .nav-item:hover {
        background: cornflowerblue;
    }

    .nav-link:hover {
        color: #ffffff;
        filter: grayscale(0%) opacity(1);
    }
}

/* Large screens */
@media only screen and (min-width: 600px) {
    header {
        left: 0;
        top: 0;
        width: 5rem;
        height: 100vh;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    header:hover {
        width: 16rem;
    }

    header:hover .link-text {
        display: inline;
    }

    main {
        margin-left: 5rem;
    }

    #navbar, #navbar-nav, .nav-item, .nav-link, #logo, #mode-dark {
        width: 100%;
        left: 0;
    }

    #navbar {
        height: 50%;
        padding: 0;
        margin: 0;
    }

    #navbar-nav {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;       
    }

    .nav-item {
        height: 20%;
    }

    .nav-link {
        justify-content: space-between;
        text-decoration: none;
        height: 100%;
    }

    header:hover .nav-link i {
        margin-left: 1rem;
    }

    header:hover .nav-link .link-text {
        margin-right: 1rem;
    }

    #logo img {
        width: 80px;
    }
}
