
@import url(./root.css);
@import url(./menunav.css);
@import url(./home.css);
@import url(./project.css);

body {
    font-family: 'Neucha', cursive !important;
    color: black;
    /*background-image: url(../asetts/background-top.svg);*/
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100vh;
}

body::-webkit-scrollbar {
    width: 0.8rem;
}

body::-webkit-scrollbar-track {
    background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
    background: var(--bg-secondary);
}

.subtitle-view {
    font-family: 'Bungee Shade', cursive;
    font-weight: bold;
    color: #fff;
    text-shadow:  0 0 1px #555678,
                 -1px -1px 0 #555678,
                  1px -1px 0 #555678,
                 -1px 1px 0 #555678,
                 1px 1px 0 #555678;
}
