/* Cubo */
div.espacio3D {
    width: 500px; /* 300px */
    height: 500px;  /* 300px */
    margin: -65px auto 0 auto;
    perspective-origin: center -50%;
    perspective: 700px; /* 500px */
    transform: scale(0.5);
}
  
div.cubo3D {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transform: translateZ(-250px); /* -150px */
    animation-name: gira;
    animation-duration: 7000ms; /* 4000ms */
    animation-iteration-count: infinite;
    /* background-color: rgba(86, 48, 251, 0.75); */
}
  
div.base {
    position: absolute;
    width: 250px;  /* 150px */
    height: 250px;  /* 150px */
    background-color: rgba(0,0,0,0.15);
    transform: translateX(125px) translateY(125px) rotateX(90deg) translateZ(-300px); /* 75px 75px 90deg -200px */
    box-shadow: 0 0 50px 100px rgba(0,0,0,0.15);
}

aside.cara {
    position: absolute;
    width: 498px; /* 298px */
    height: 498px;  /* 298px */
    background-color: rgba(110, 108, 216, 0.986);
    border: 1px solid #0062ff;
    color: rgb(49, 49, 49);
    font-size: 5em;
    text-align: center;
    /*  line-height: 498px; /* 298px */
    box-shadow: 0px 0px 5px rgba(86, 48, 251, 0.75);
}
  
aside.cara1 { /* Frente */
    transform: translateZ(250px);  /* 150px */
}
  
aside.cara2 { /* Atrás */
    transform: rotateY(180deg) translateZ(250px); /* 150px */
}
  
aside.cara3 { /* Izquierda */
    transform: rotateY(-90deg) translateZ(250px);  /* 150px */
}
  
aside.cara4 { /* derecha */
    transform: rotateY(90deg) translateZ(250px); /* 150px */
}
  
aside.cara5 { /* abajo */
    transform: rotateX(-90deg) translateZ(250px);  /* 150px */
}
  
aside.cara6 { /* arriba */
    transform: rotateX(90deg) translateZ(250px);  /* 150px */
}
  
@keyframes gira {
    0% {
      transform: translateZ(-70px) rotateY(-180deg);  /* 150px */
    }

    25% {
        transform: translateY(70px) rotateX(-90deg);  /* 150px */
    }

    75% {
        transform: translateX(70px) rotateY(-90deg);  /* 150px */
    }

    100% {
      transform: translateZ(-70px) rotateY(180deg);  /* 150px */
    }
}

/*
@keyframes gira {
    0% {
      transform: translateZ(-250px) rotateY(0deg);  
    }

    100% {
      transform: translateZ(-250px) rotateY(360deg); 
    }
}
*/
